body {
    font-family: 'Arsenal', sans-serif;
    padding: 0;
    margin: 0;
}

#flex-container {
    margin: auto;
    background: mediumpurple;
    width: calc(100vw - 460px);
    height: 900px;
    border: darkslateblue solid 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
    /*align-content: flex-start;*/
}

#important-item {
    background: palegreen;
    border-color: forestgreen;
    margin: auto 0;
    /*order: 0;*/
    /*align-self: flex-end;*/
    /*flex-grow: 3;*/
}

#other-item {
    background: palegoldenrod;
    border-color: goldenrod;
    /*order: -1;*/
    /*align-self: flex-start;*/
    /*flex-grow: 2;*/
}

.flex-item {
    background: rosybrown;
    border: indianred solid 5px;
    padding: 8px;
    margin: .5em 0;
    /*order: 1;*/
    /*flex-grow: 1;*/
}

/*.box-1 {*/
/*    height: 400px;*/
/*}*/

/*.box-2 {*/
/*    height: 350px;*/
/*}*/

/*.box-3 {*/
/*    height: 300px;*/
/*}*/