:root {
    --bg-success: #cff3da;
    --text-success: #237a47;
    --bg-info: #cddeff;
    --text-info: #342b90;
    --bg-warning: #fcfbc9;
    --text-warning: #867208;
    --bg-error: #fad3d7;
    --text-error: #770623;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin: .5em;
    padding: .5em;
    border: solid lightgrey 1px;
    border-radius: 10px;
}

.message-info {
    background: var(--bg-info);
    color: var(--text-info);
}

.message-success {
    background: var(--bg-success);
    color: var(--text-success);
}

.message-warning {
    background: var(--bg-warning);
    color: var(--text-warning)
}

.message-error {
    background: var(--bg-error);
    color: var(--text-error);
}