@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#a-account {
    text-decoration: none;
    color: black;
}

#btn-register,
#btn-login {
    width: 100%;
    margin: 1em 0;
}